
.noFound {
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.noFound h1 {
  font-weight: 400;
  font-size: 16.25rem;
  line-height: 16.25rem;
  color: #00FFFF;
  margin-bottom: 2.5rem;
}
.noFound h2 {
  font-size: 3.1rem;
  line-height: 3.1rem;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}
.noFound p {
  text-align: center;
  font-size: 1.9rem;
  line-height: 1.9rem;
  color: #FFFFFF;
  max-width: 50rem;
  margin-bottom: 3.75rem;
}
.noFound a {
  color: #00ffff;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border: 0.1rem #00ffff solid;
  z-index: 1;
}
.noFound a:hover {
  color: #2a3b41;
  background-color: #00ffff;
  font-size: 1.3rem;
  line-height: 1.4rem;
  transition: 0.4s ease all;
}

@media screen and (max-width: 58.75rem) {
  .noFound h1 {
    font-size: 10rem;
    line-height: 10rem;
    color: #00FFFF;
    margin-bottom: 2.5rem;
  }
  .noFound h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
  }
  .noFound p {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    max-width: 37.5rem;
    margin: 0rem 1.9rem 3.75rem 1.9rem;
  }
  .noFound a {
    color: #00ffff;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border: 0.1rem #00ffff solid;
    z-index: 1;
  }
  .noFound a:hover {
    color: #2a3b41;
    background-color: #00ffff;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}

.contact .form {
  margin-top: 0.6rem;
  z-index: 999;
}

 .contact .form .formInput {
  width: 100%;
  padding: 0.6rem 1.9rem;
  margin-bottom: 0.6rem;
  outline: none;
  background: none;
  border: 0.1rem solid rgba(0, 255, 255, 0.5);
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.3rem;
  transition: 0.4s ease all;
}

 .contact .form .formInput::placeholder {
  color: #ffffff;
  font-weight: 700;
}
 .contact .form .formInput:focus {
  border: 0.1rem solid #00ffff;
}

 .contact .form textarea {
  resize: none;
  height: 6.25rem;
}

 .contact .form .submitButton {
  width: 100%;
  padding: 1rem 1.9rem;
  outline: none;
  background: none;
  border: 0.1rem solid #00ffff;
  font-size: 1.3rem;
  line-height: 1.3rem;
  border: 0.2rem solid #00ffff;
  color: #00ffff;
}

@media screen and (min-width: 58.75rem) {
   .contact {
    margin-top: 1.9rem;
  }
   .contact .contactWrapper {
    flex-direction: row;
    align-items: baseline;
  }
   .contact .sections-titles {
    margin-top: 0rem;
  }
   .contact .contact-information,
  .contact .form {
    width: 40%;
  }
   .contact .contact-information .description,
   .contact .form .description {
    color: #ffffff;
    margin-bottom: 1.9rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: justify;
  }
   .contact .form {
    margin-top: 0rem;
    width: 45%;
    margin-left: 3.1rem;
    max-width: 40%;
  }
 .contact .form .formInput {
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 1.25rem 1.9rem;
    margin-bottom: 1.25rem;
  }
   .contact .form textarea {
    height: 9.4rem;
  }
   .contact .form .submitButton {
    transition: 0.4s ease all;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
     .contact .form .submitButton:hover {
    background: #00ffff;
    color: #16183bff;
  }
}

/*form*/
.yessendForm{
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 1.9rem;
  outline: none;
  background: none;
  border: 0.1rem solid #00ff15;
  font-size: 1.3rem;
  line-height: 1.3rem;
  border: 0.2rem solid #00ff15;
  color: #00ff15;
}

.notsendForm{
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 1.9rem;
  outline: none;
  background: none;
  border: 0.1rem solid #ff0000;
  font-size: 1.3rem;
  line-height: 1.3rem;
  border: 0.2rem solid #ff0000;
  color: #ff0000;
}



