
.sectionTitle {
  color: #00ffff;
  font-size: 2.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.12rem;
  text-align: center;
  font-weight: 400;
  margin: 4.4rem 0rem;
  margin-top: 2.5rem;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 58.75rem) {
  .sectionTitle {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.card {
  background: linear-gradient(
    180deg,
    rgba(54, 105, 148, 0.148) 0%,
    rgba(56, 126, 184, 0.2) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0.6rem 5rem 0.6rem;
  flex-direction: column;
  border-radius: 1.25rem;
  box-shadow: 0.12rem 0.12rem 0.6rem rgba(0, 0, 0, 0.2);
}

.card .cardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card .cardTop img {
	width:3.75rem;
	height:auto;
}

.card .cardTop div {
	display:flex;
	justify-content:center;
	align-items:center;
}

.card .cardTop div div {
	color:cyan;
	font-weight:700;
	margin:0rem 0rem 0rem 1.25rem;
}

.card .cardTop div img {  
	width:3.75rem;
	height:auto;
}



.card .pygame .cardTop img {
	width:9rem;
	height:auto;

}

.card .pygame img {
  width: 10rem;
}

.card .logos img {
  width: 10rem;
}


.cardNO {
	color:transparent !important;
}

.noDesc {
	width:100%;

}

.cardText {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: left;
}

.cardText2{
  font-size: 1.2rem;
  color: transparent;
  margin-bottom: 2rem;
  text-align: left;
}


.ComingSoon2 {
	text-align:center;
	margin-bottom:3.1rem;
	margin-top:3.1rem;
	font-size:2.6rem;
	line-height:2.6rem;
	color:#fff;
	text-shadow:0 0 0.3rem #BB3A4E,  
              0 0 0.6rem #BB3A4E,  
              0 0 1.25rem #BB3A4E,  
              0 0 2.5rem #BB3A4E,  
              0 0 4.4rem #bb3a4de3 ,  
              0 0 5rem #bb3a4db4 , 
              0 0 6.25rem #bb3a4d63,  
              0 0 7.5rem #bb3a4d25;
}

.card .subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}

.card ul {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  padding-left: 1.25rem;
}

.card ul li {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.1rem;
  list-style: circle;
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 58.75rem) {
  .card .subtitle {
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: #ffffff;
  }
  .card ul li {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .ComingSoon2 {
    font-size: 4rem;
    line-height: 5rem;
  }
}

main .first-section {
  margin-top: 4.4rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .first-section .description {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 400;
  text-align: center;
  max-width: 80%;
  margin: 0rem auto 1.25rem auto;
}

main .first-section .cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 25rem));
  grid-template-rows: 1fr 1fr;
  margin-top: 1.9rem;
  justify-items: center;
  justify-content: center;
  gap: 1.25rem;
  grid-row-gap: 3.1rem;
  max-width: 90%;
  margin: 2.5rem auto;
}

main .first-section .card {
  padding: 1.25rem 3.1rem 0.6rem 3.1rem;
  background: linear-gradient(
    180deg,
    #161948 0%,
    rgba(45, 83, 128, 0.44437) 100%
  );
}

main .first-section .card .joinUsButton {
  margin: 0rem auto;
  background-color: #16183bff;
  color: #00ffff;
  display: block;
  padding: 0.6rem 1.25rem;
  min-width: 80%;
  border-radius: 1.25rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
  z-index: 999;
  text-align: center;
}

@media screen and (min-width: 58.75rem) {
  main .first-section {
    margin-top: 8.1rem;
  }
  main .first-section.ownpage {
    margin-top: 5rem;
  }
  main .first-section .description {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  main .first-section .cardContainer {
    margin: 3.75rem auto;
    grid-template-columns: repeat(2, minmax(18.75rem, 26.9rem));
    grid-template-rows: none;
  }
  main .first-section .card {
    padding: 1.25rem 1.9rem;
  }
  main .first-section .card .joinUsButton {
    font-size: 1.4rem;
    line-height: 1.4rem;
    cursor: pointer;
    margin-bottom: 1.25rem;
    transition: 0.4s ease all;
  }
  main .first-section .card .joinUsButton:hover {
    background: #00ffff;
    color: #16183bff;
  }
}



