p{
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
}
.container {
  width: 100%;
}

main .welcomeSection {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .first-section {
  margin: 0rem auto;
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 45rem;
  padding: 0rem 0.6rem;
  min-height: 100vh;
  margin-top: 1.25rem;
}

main .first-section svg {
  width: 100%;
  height: 50vh;
  min-width: 18.1rem;
  animation-name: logo-fill;
  animation-duration: 0.5s;
  animation-iteration-count: initial;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

main .first-section .mainTitle {
  color: #ffffff;
  font-size: 2.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.12rem;
  text-align: center;
  font-weight: 400;
  animation-name: opacity;
  animation-duration: 0.8s;
  animation-iteration-count: initial;
  margin: 0rem 0rem 0.6rem 0rem;
  animation-name: scale;
  animation-duration: 0.5s;
  animation-iteration-count: initial;
  margin-top: 0.6rem;
}

main .first-section .mainTitle span {
  font-weight: 700;
  color: #00ffff;
}

main .first-section .text-description {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.25rem;
  font-weight: 400;
  animation-name: scale;
  animation-duration: 0.8s;
  animation-iteration-count: initial;
  line-height: 1.5;
}

main .first-section .first-button {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  line-height: 1.1rem;
  font-weight: 700;
  width: fit-content;
  margin: 0rem auto;
  background-color: #00ffff;
  color: #2a3b41 !important;
  padding: 1rem 3rem;
  width: fit-content;
  border: 0.1rem solid #00ffff;
  transition: 0.4s ease all;
}

main .second-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 5rem;
}

main .second-section img {
  width: 100%;
  max-width: 100%;
  height: 70%;
  object-fit: cover;
}

main .second-section .second-information .subtitle {
  color: #00ffff;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: center;
  font-weight: 700;
  margin: 1.25rem 0rem;
}

main .second-section .subtitle span {
background-color: #00ffff;
color: #16183b; 

}

main .second-section .second-information .mainDescription{
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.3rem;    
  text-align: left;
  margin-left: 0.5rem;
}

main .second-section .second-information ul {
  margin: 6rem 0;
  list-style: none;
}

main .second-section .second-information ul li {
  list-style-image: url(../assets/images/logo.png );
  list-style-position: inherit;
  margin-left: 3rem;
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
  
}

main .second-section .second-information .second-description {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

@media screen and (min-width: 58.75rem) {
  main .mainContainer svg {
    width: 80%;
    height: 64vh;
  }
  main .mainContainer .mainTitle {
    font-size: 3.6rem;
    line-height: 6rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  main .mainContainer .first-section {
    margin-top: 3.1rem;
  }
  main .mainContainer .text-description {
    color: #ffffff;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-bottom: 3.1rem;
    
  }
  main .second-section {
    flex-direction: row;

  }
  main .second-section img {
    width: 100%;
    height: 50%;
    max-width: 46%;
    object-fit: cover;
  }
  main .second-section .second-information {
    margin-left: 3.1rem;
  }

  main .second-section .second-information .mainDescription {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  main .second-section .second-information ul {
    margin-top: 3.75rem;
  }
  main .second-section .second-information ul li {
    margin-left: 1.9rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-bottom: 1.9rem;
  }
}

/*general section titles*/
.sections-titles {
  color: #00ffff;
  font-size: 2.5rem;
  line-height: 2.2rem;
  text-align: center;
  font-weight: 700;
  margin-top: 8rem;
  margin-bottom: 1.2rem;
  
  
}

.sections-titles span{
  background-color: #00ffff;
  color: #16183b;
}

@media screen and (min-width: 58.75rem) {
  .sections-titles {
    font-size: 3rem;
    line-height: 5rem;
  }
}
/*--------****--------*/

main .courses .course_text{
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;  
  
}

main .courses {
  margin-top: 3.1rem;
  min-height: 100vh;
}

main .courses .cardcointainer_courses {
  display: grid;
  grid-template-columns: repeat(3, minmax(6.25rem, 16.8rem));
  margin-top: 1.9rem;
  justify-items: center;
  justify-content: center;
  gap: 1.25rem;
}

main .courses .cardcointainer_courses .card .icon {
  margin: 1.25rem 0rem;
  max-width: 12.5rem;
  max-height: 12.5rem;
  height: 100%;
  width: 100%;
}

main .courses .cardcointainer_courses .card .description {
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1rem;
}

@media screen and (max-width: 66.2rem) {
  main .courses .cardcointainer_courses {
    grid-template-columns: repeat(2, minmax(6.25rem, 17.5rem));
  }

}

@media screen and (max-width: 35rem) {
  main .courses .cardcointainer_courses {
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 17.5rem));
  }
}

@media screen and (min-width: 48rem) {
  main .courses {
    min-height: 100vh;
  }
}

@media screen and (min-width: 58.75rem) {
  main .courses {
    margin-top: 10rem;
  }
}

.cardcointainer_courses .card{  
  box-shadow: 0.5rem 0.5rem 0 #366994ff;
  
}

.see-courses {
  margin-top: 6rem;
  text-align: center;
  
}

.bottom-courses {
  padding: 1rem 3rem;
  color: #2a3b41 !important;
  background-color: aqua;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  
}



/****general cards*****/
.card {
  background: linear-gradient(
    180deg,
    rgba(54, 105, 148, 0.148) 0%,
    rgba(56, 126, 184, 0.2) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0.6rem 3.1rem 0.6rem;
  flex-direction: column;
  border-radius: 1.25rem;
  box-shadow: 0.12rem 0.12rem 0.6rem rgba(0, 0, 0, 0.2);
}

main .benefits {
  margin-top: 3.1rem;
  min-height: 100vh;
}

main .benefits .cardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(6.25rem, 15.6rem));
  margin-top: 1.9rem;
  justify-items: center;
  justify-content: center;
  gap: 1.25rem;
}

main .benefits .cardContainer .card .icon {
  margin: 1.25rem 0rem;
  max-width: 12.5rem;
  max-height: 12.5rem;
  height: 100%;
  width: 100%;
}

main .benefits .cardContainer .card .description {
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1rem;
}

@media screen and (max-width: 60rem) {
  main .benefits .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 15.6rem));
  }



@media screen and (min-width: 58.75rem) {
  main .benefits {
    margin-top: 10rem;
  }
}



main .gallerySection .gallery {
  grid-template-columns: 6fr 6fr!important;
}
}


main .gallerySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .gallerySection .gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(6.25rem, 15.6rem));
  justify-content: center;
  margin: 2rem auto;
  gap: 2rem;
  position: relative;
  flex-wrap: wrap;
  grid-row-gap: 2rem;
  scrollbar-width: none;
}

main .gallerySection .gallery .galleryImage {
  width: 100%;
  height: 100%;
  min-height: 12.5rem;
  object-fit: cover;
  border-radius: 0.6rem;
}


@media screen and (min-width: 58.75rem) {
  main .gallerySection {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 58.75rem) {
  main .gallerySection .gallery {
    grid-row-gap: 3.1rem;
  }
  main .gallerySection .gallery .galleryImage {
    margin-top: 0rem;
  }

}

/*overlay gallery*/
* {box-sizing: border-box}


.overlay-image {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(25, 22, 63, 0.5); 
  color: #00ffff;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay-image:hover .overlay {
  opacity: 1;
}


main .testimonials {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

main .testimonials .container {
  width: 100%;
  z-index: 999;
}

main .testimonials .cardContainer {
  display: flex;
  justify-items: center;
  justify-content: start;
  gap: 1.25rem;
  width: 100%;
  padding: 2.5rem;
  max-width: 80%;
  overflow-x: scroll;
  margin: 0rem auto;
  scrollbar-color: #00ffff rgba(0, 255, 255, 0.6);
  scrollbar-width: thin;
}

main .testimonials .cardContainer::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 1.25rem;
}

main .testimonials .cardContainer::-webkit-scrollbar {
  background: rgba(0, 255, 255, 0.6);
  border-radius: 1.25rem;
  height: 0.5rem;
}

main .testimonials .cardContainer .card {
  background: linear-gradient(
    180deg,
    #161948 0%,
    rgba(45, 83, 128, 0.44437) 100%
  );
  padding: 1.25rem;
  padding-top: 1.9rem;
  min-width: 13.75rem;
  max-width: 15.6rem;
}

main .testimonials .cardContainer .card .icon {
  margin-top: -3.75rem;
  margin: 1.25rem 0rem;
  max-width: 12.5rem;
  max-height: 12.5rem;
  height: 100%;
  width: 100%;
}

main .testimonials .cardContainer .card .testimonialDescription {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 2.2rem;
}

main .testimonials .cardContainer .card .testimonial-name {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}

main
  .testimonials
  .cardContainer
  .card
  .testimonial-name
  .testimonialOwnerLocation {
  color: #00ffff;
}


main .contact {
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .contact .contactWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:  4rem;
}


main .contact .contact-information,
main .contact .form {
  display: flex;
  width: 100%;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .contact .contact-information .description,
main .contact .form .description {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: justify
  ;
}

main .contact .form {
  margin-top: 0.6rem;
  z-index: 999;
}

main .contact .form .formInput {
  width: 100%;
  padding: 0.6rem 1.9rem;
  margin-bottom: 0.6rem;
  outline: none;
  background: none;
  border: 0.1rem solid rgba(0, 255, 255, 0.5);
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.3rem;
  transition: 0.4s ease all;
}

main .contact .form .formInput::placeholder {
  color: #ffffff;
  font-weight: 700;
}

main .contact .form .formInput:focus {
  border: 0.1rem solid #00ffff;
}

main .contact .form textarea {
  resize: none;
  height: 6.25rem;
}

main .contact .form .submitButton {
  width: 100%;
  padding: 1rem 1.9rem;
  outline: none;
  background: none;
  border: 0.1rem solid #00ffff;
  font-size: 1.3rem;
  line-height: 1.3rem;
  border: 0.2rem solid #00ffff;
  color: #00ffff;
}

@media screen and (min-width: 58.75rem) {
  main .contact {
    margin-top: 1.9rem;
  }
  main .contact .contactWrapper {
    flex-direction: row;
    align-items: baseline;
  }
  main .contact .sections-titles {
    margin-top: 0rem;
  }
  main .contact .contact-information,
  main .contact .form {
    width: 40%;
  }
  main .contact .contact-information .description,
  main .contact .form .description {
    color: #ffffff;
    margin-bottom: 1.9rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: justify;
  }
  main .contact .form {
    margin-top: 0rem;
    width: 45%;
    margin-left: 3.1rem;
    max-width: 40%;
  }
  main .contact .form .formInput {
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 1.25rem 1.9rem;
    margin-bottom: 1.25rem;
  }
  main .contact .form textarea {
    height: 9.4rem;
  }
  main .contact .form .submitButton {
    transition: 0.4s ease all;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  main .contact .form .submitButton:hover {
    background: #00ffff;
    color: #16183bff;
  }
}

/*form*/
.yessendForm{
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 1.9rem;
  outline: none;
  background: none;
  border: 0.1rem solid #00ff15;
  font-size: 1.3rem;
  line-height: 1.3rem;
  border: 0.2rem solid #00ff15;
  color: #00ff15;
}

.notsendForm{
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 1.9rem;
  outline: none;
  background: none;
  border: 0.1rem solid #ff0000;
  font-size: 1.3rem;
  line-height: 1.3rem;
  border: 0.2rem solid #ff0000;
  color: #ff0000;
}

#intro-logo path:nth-child(2) {
  stroke-dasharray: 106.25rem;
  stroke-dashoffset: 106.25rem;
  fill: none;
  animation: logo-animation 1.5s ease forwards,
    logo-stroke 0.5s ease forwards 2s, logo-fill 0.5s ease forwards 1.5s;
}

#intro-logo path:nth-child(3) {
  stroke-dasharray: 75rem;
  stroke-dashoffset: 75rem;
  animation: logo-animation 1.5s ease forwards,
    logo-stroke 0.5s ease forwards 2s, logo-fill 0.5s ease forwards 1.5s;
  fill: none;
}

#intro-logo path:nth-child(4) {
  stroke-dasharray: 75rem;
  stroke-dashoffset: 75rem;
  animation: logo-animation 1.5s ease forwards,
    logo-stroke 0.5s ease forwards 2s, logo-fill 0.5s ease forwards 1.5s;
  fill: none;
}

#intro-logo path:nth-child(5) {
  stroke-dasharray: 62.5rem;
  stroke-dashoffset: 62.5rem;
  animation: logo-animation 1.5s ease forwards,
    logo-stroke 0.5s ease forwards 2s, logo-fill 0.5s ease forwards 1.5s;
  fill: none;
}

#intro-logo path:nth-child(6) {
  stroke-dasharray: 62.5rem;
  stroke-dashoffset: 62.5rem;
  animation: logo-animation 1.5s ease forwards,
    logo-stroke 0.5s ease forwards 2s, logo-fill 0.5s ease forwards 1.5s;
  fill: none;
}